body {
  background-image: url("tileable_wood_texture.png");
  background-repeat: repeat;
  color: #000000;
  font-family: 'Comfortaa', cursive;
}

.weeklynews {
  background-color: lightgray;
}

.weeklynews img {
  width: 100%;
  height: auto;
}

.navigation {
  background-color: lightgrey;
  position: fixed;
  width: 100%;
}

.titlecentre {
  text-align: center;
}

.alignleft {
  text-align: left;
  padding-left: 10px;
}

.alignright {
  text-align: right;
  padding-right: 10px;
}

.navigation a {
  text-decoration: none;
  color: #000000;
}

.footer {
  text-align: center;
  background-color: lightgray;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
